$blue: rgb(12, 59, 129);
$blue_light: rgb(100, 157, 241);


$green_light: #dfdfdf;
$black: #242424;

$while: #fff;
$gray: #e2e2e2;
$gray_dark: #1e437a;
$green: #1ce74f;
$brown: #adadad;

$red: #d4161c;

$black_light: rgb(62, 19, 119);
