<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>
    
    {{> sprite }}


    <div class="page">
        <!-- <div class="content"> -->
            <div class="row">
                    {{> header }}

                <div class="asile_a_body  content">
                    <div class="aside">
                        <!-- aside -->
                        {{> aside }}
                    </div>

                    <div class="body">
                        <!-- Content -->
                        {{> body }}
                    </div>
                </div>
            
                <!-- Footer -->
        
                    {{> footer }}
            </div>
        <!-- </div> -->
    </div> 


    <script src="./assets/js/app.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</body>
</html>