<div class="aside__col">

    <div class="calendar">
        <table id="calendar2">
            <thead>
                <tr>
                    <td>&lt;
                        <td colspan="5">
                    <td>&gt;
                <tr>
                    <td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
            <tbody>
          </table>
    </div>

    <nav class="aside__menu">

        <ul class="aside__list">

            <li class="aside__iptelephone_management  aside__item">
                <a href="iptelephone.html" class="aside__link">
                    Управление IP-телефонией
                </a>
            </li>

            <li class="aside__information_security aside__item">
                <a href="info_security.html" class="aside__link">
                    Информационная безопасность
                </a>
            </li>

            <li class="aside__procurement_activities  aside__item">
                <a href="prod_activities.html" class="aside__link">
                    Организационно-правовой отдел
                </a>
            </li>

            <li class="aside__information_systems  aside__item">
                <a href="infosystem.html" class="aside__link">
                    Поддержка информационных систем
                </a>
            </li>
            

            <li class="aside__arm aside__item">
                <a href="arm.html" class="aside__link">
                    Поддержка автоматизированных рабочих мест
                </a>
            </li>

            <li class="aside__analytics  aside__item">
                <a href="analytics.html" class="aside__link">
                    Отдел планирования закупок и проектного управления
                </a>
            </li>

            <li class="aside__additional_services  aside__item">
                <a href="add_services.html" class="aside__link">
                    Сопровождения ведомственных специализированных систем
                </a>
            </li>
            
        </ul>

    </nav>

</div>