<section class="training">
    <div class="content">

        <div class="training__container">
            <div class="training-top">Организации</div>

            <div class="training-bottom">
                <button class="training__arrow  training__arrow--prev" id="training__arrow-prev" type="button">
                    <svg class="training__arrow--icon">
                        <use xlink:href="#arrow_right"></use>
                    </svg>
                </button>
                <button class="training__arrow  training__arrow--next" id="training__arrow-next" type="button">
                    <svg class="training__arrow--icon">
                        <use xlink:href="#arrow_right"></use>
                    </svg>
                </button>

                <div class="training__slider" id="training">
                    <div>
                        <div class="training__item">
                            <a class="training__link" href="https://www.mfri.ru/" target="_blank">
                                <img class="training__img" src="./assets/img/minfin.jpg" alt="layout">
                            </a>
                            <div class="training__title">
                                <h6>Министерство финансов республики ингушетия</h6>
                            </div>
                            <div class="training__text">
                                МинФин
                            </div>
                        </div>
                    </div>
        
                    <div>
                        <div class="training__item">
                            <a class="training__link" href="https://minzdravri.ru/" target="_blank">
                                <img class="training__img" src="./assets/img/minzdrav.jpg" alt="layout">
                            </a>
                            <div class="training__title">
                                <h6>Министерство здравоохранения республики ингушетия</h6>
                            </div>
                            <div class="training__text">
                                МинЗдрав
                            </div>
                        </div>
                    </div>
        
                    <div>
                        <div class="training__item">
                            <a class="training__link" href="http://morigov.ru/" target="_blank">
                                <img class="training__img" src="./assets/img/minobraz.jpg" alt="layout">
                            </a>
                            <div class="training__title">
                                <h6>Министерство Образования и науки республики ингушетия</h6>
                            </div>
                            <div class="training__text">
                                МинОбразования
                            </div>
                        </div>
                    </div>
        
                    <div>
                        <div class="training__item">
                            <a class="training__link" href="#" target="_blank">
                                <img class="training__img" src="./assets/img/minkult.jpg" alt="layout">
                            </a>
                            <div class="training__title">
                                <h6>Министерство культуры республики ингушетия</h6>
                            </div>
                            <div class="training__text">
                                МинКульт
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="training__item">
                            <a class="training__link" href="https://mtseing.ru/" target="_blank">
                                <img class="training__img" src="./assets/img/minpr.jpg" alt="layout">
                            </a>
                            <div class="training__title">
                                <h6>Министерство промышленности республики ингушетия</h6>
                            </div>
                            <div class="training__text">
                                МинПромСвязь
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="training__item">
                            <a class="training__link" href="https://minsportri.ru/" target="_blank">
                                <img class="training__img" src="./assets/img/minsport.jpg" alt="layout">
                            </a>
                            <div class="training__title">
                                <h6>Министерство спорта республики ингушетия</h6>
                            </div>
                            <div class="training__text">
                                МинСпорт
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> 
</section>

<section class="questions">
    <div class="content">

        <div class="questions-top">
            <h2 class="questions__title">Часто задаваемые вопросы</h2>

            <ul class="details">
                <li class="details__item">
                    <details class="details__container">
                        <summary class="details__sammary">График работы</summary>
                        <p class="details__text">---</p>
                    </details>
                </li>
            </ul>
        </div>

    </div>
</section>

<footer class="footer">
    <div class="content">
        <div class="footer-top">
            <ul class="footer-menu__list">
    
                <li class="footer-menu__item">
    
                    <div class="footer-menu__title">&copy; 2020 - 2022 <i class="name__organization">ГБУ "ЦИТ"</i></div>
    
                    <ul class="footer-info__list">
                        <li class="footer-info__item"><a href="#" class="footer-info__link">+7(8732) 22-48-59</a></li>
                        <li class="footer-info__item"><a href="#" class="footer-info__link">+7(8732) 22-48-59</a></li>
                        <li class="footer-info__item"><a href="#" class="footer-info__link">support@ingushetia.ru</a></li>
                    </ul>

                    <div class="footer-socials">
                        <a class="social__link" href="#" target="_blank">
                            <svg class="social__icon vk">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                        <a class="social__link" href="#" target="_blank">
                            <svg class="social__icon youtube">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </div>

                    <div class="footer-logo"><span class="name__organization">CIT</span></div>
    
                </li>
    
                <li class="footer-menu__item">
    
                    <div class="footer-menu__title">Деятельность</div>
    
                    <ul class="footer-navigation__list">
                        <li class="footer-navigation__item"><a href="#" class="footer-menu__link">Программы и проекты</a></li>
                        <li class="footer-navigation__item"><a href="#" class="footer-menu__link">Сотрудничество</a></li>
                        <li class="footer-navigation__item"><a href="#" class="footer-menu__link">Услуги и поддержка ИТ</a></li>
                        <li class="footer-navigation__item"><a href="#" class="footer-menu__link">Дополнительные услуги</a></li>
                        <li class="footer-navigation__item"><a href="#" class="footer-menu__link">Партнерские программы</a></li>
                    </ul>
    
                </li>
    
                <li class="footer-menu__item">
                    <div class="footer-menu__title">Документы</div>
    
                    <ul class="footer-inner__list">
                        <li class="footer-inner__item">
                            <a class="footer-menu__link" href="documents.html">Нормативно-правовые акты</a>
                        </li>
                        <li class="footer-inner__item">
                            <a class="footer-menu__link" href="documents.html">Формы и образцы документов</a>
                        </li>
                        <li class="footer-inner__item">
                            <a class="footer-menu__link" href="documents.html">Учредительные документы</a>
                        </li>
                        <li class="footer-inner__item">
                            <a class="footer-menu__link" href="documents.html">Отчеты и государственные задания</a>
                        </li>
                    </ul>
                </li>
    
                <li class="footer-menu__item">
    
                    <div class="footer-menu__title">Контакты</div>
    
                    <ul class="footer-docs__list">
                        <li class="footer-docs__item"><a class="footer-docs__link" href="support.html">Обращения</a></li>
                        <li class="footer-docs__item"><a class="footer-docs__link" href="support.html">Отправить сообщение</a></li>
                    </ul>
                </li>
    
            </ul>
        </div>
    </div>
</footer>
