<header class="mn-header">
    <div class="content">
        <div class="mn-header__row">
            
            <div class="mn-header__blocks-top">
                <div class="mn-header__block_emblem">

                    <a class="mn-header__emblem" href="index.html">
                        <img src="../../assets/img/emblem.jpg" alt="emblem" width="60px">
                    </a>

                    <nav class="mn-header__menu-top">
                        <ul class="menu-top__list">
                            <li class="menu-top__item"><a href="https://www.ingushetia.ru/" target="_blank" class="menu-top__link">Республика Ингушетия</a></li>
                            <li class="menu-top__item"><a href="http://pravitelstvori.ru/" target="_blank" class="menu-top__link">Правительство РИ</a></li>
                            <li class="menu-top__item"><a href="https://mtseing.ru/" target="_blank" class="menu-top__link">Министерство промышленности и цифрового развития РИ</a></li>
                            <li class="menu-top__item"><a href="https://www.gosuslugi.ru" target="_blank" class="menu-top__link">Электронные услуги</a></li>
                        </ul>
                    </nav>

                    <a href="support.html" class="mn-header__support">Написать письмо</a>

                </div>
            </div>

            <div class="mn-header__blocks-center">
                <div id="particles-js"></div>
                <div class="mn-header__block_logo">

                    <a class="mn-header__logo" href="index.html">
                        <span class="logo_center">CENTER</span>
                        <span class="name_logo"><i>IT</i></span>
                    </a>

                    <div class="mn-header__text_name">
                        <h1>Центр Информационных Технологий</h1>
                        <h5>Государственное бюджетное учреждение</h5>
                        <h3>Республики Ингушетия</h3>
                    </div>

                    <div class="mn-header__text-hidden">
                        <h2>ГБУ "ЦИТ" Республики Ингушетия</h2>
                    </div>

                    <div class="mn-header__contacts">
                        <p class="adress">РИ, г.Назрань, ул. Бакинская, 89</p>
                        <div class="phone">+7(8732) 22-48-59</div>
                        <div class="email">support@ingushetia.ru</div>
                    </div>
                </div>
            </div>

            <div class="mn-header__burger  mn-header__block">
                <span class="burger"></span>
            </div>
    
            <nav class="mn-header__block_menu">
                <ul class="mn-header__block_menu_list">
                    <li class="mn-header__block_menu_item">
                        <a class="mn-header__about_link" href="news.html">Новости</a>
                    </li>
                    <li class="mn-header__block_menu_item">
                        <a class="mn-header__about_link" href="about.html">О нас</a>
                    </li>
                    <li class="mn-header__block_menu_item">
                        <a class="mn-header__about_link" href="tasks.html">Цели и задачи</a>
                    </li>
                    <li class="mn-header__block_menu_item">
                        <a class="mn-header__about_link" href="documents.html">Документы</a>
                    </li>
                    <li class="mn-header__block_menu_item">
                        <a class="mn-header__about_link" href="contacts.html">Контакты</a>
                    </li>
                </ul>
            </nav> 
        </div>
    </div>
</header>
